{% extends 'AppBundle::sitelayout.html.twig' %}

{% block head_title %}

{% endblock %}

{% block head_additions %}

    <meta name="description" content="" xmlns="http://www.w3.org/1999/html">
{% endblock %}




{% block body_content %}
    <div class="image-fon">
        <div id="mask-white"></div>
    </div>
    <div class="page-header text-center"><h1> Конфигуратор меню</h1></div>
    <!-- форма для ввод параметров -->
    <div class="row">
    <!--фильтр-->
    <div class="col-lg-3 col-md-4 col-sm-12">
        <form id="filter">
            {#<div class="filter-item">
                <div class="caption" data-toggle="collapse" data-target="#price">
                    <span class="text-left">Цена в день</span>
                    <span class="symbol">—</span>
                </div>
                <div id="price" class="collapse in">
                    <div>
                        <div>
                            <div class="values range">
                                <input id="price-range" name="price-range" type="text" class="span2" value="" data-slider-min="0" data-slider-max="5000" data-slider-step="1"
                                       data-slider-value="{% if app.request.get('price-range')|default(false) %}[{{ app.request.get('price-range') }}]{% else %}[0,5000]{% endif %}"/>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
#}
            {# приемы пищи #}
            {% if view.timeeats|default(false) is not empty %}
                {% set mode='timeeat' %}
                {% if app.request.get(mode) is not empty %} {% set expanded=true %}{% else %}{% set expanded=false %}{% endif %}
                <div class="filter-item">
                    <div class="caption" data-toggle="collapse" data-target="#{{ mode }}" {% if expanded %} aria-expanded="true" {% endif %}>
                    <span class="text-left">Приемы пищи</span>
                    <span class="symbol">{% if expanded %}—{% else %}+{% endif %}</span>
                </div>
                <div id="{{ mode }}" class="collapse {% if expanded %}in{% endif %}" {% if expanded %} aria-expanded="true" {% endif %}>
                    <div class="values">
                {% for timeeat in view.timeeats %}
                    <div class="value product-layout-bordered {% if app.request.get(mode)[timeeat.id]|default(false) or (expanded is same as(false) and timeeat.defaultactive) %} active  {% endif %} green">
                        <label for="timeeat[{{ timeeat.id|e }}]" >
                            <input id="timeeat[{{ timeeat.id|e }}]" type="checkbox" name="timeeat[{{ timeeat.id|e }}]" class="filter-checkbox" {% if app.request.get(mode)[timeeat.id]|default(false) or (expanded is same as(false) and timeeat.defaultactive) %} checked {% endif %} >
                            <span class="value-title">{{ timeeat.caption|e }}</span>
                        </label>
                    </div>
                {% endfor %}
                    </div>
                </div>
                </div>
            {% endif %}

            {# дни составления #}
                {% set mode='days' %}
                {% if app.request.get(mode) is not empty %} {% set expanded=true %}{% else %}{% set expanded=false %}{% endif %}
                <div class="filter-item">
                    <div class="caption" data-toggle="collapse" data-target="#{{ mode }}" {% if expanded %} aria-expanded="true" {% endif %}>
                        <span class="text-left">Дни составления</span>
                        <span class="symbol">{% if expanded %}—{% else %}+{% endif %}</span>
                    </div>
                    <div id="{{ mode }}" class="collapse {% if expanded %}in{% endif %}" {% if expanded %} aria-expanded="true" {% endif %}>
                        <div class="values">
                            {% for i in 1..7 %}
                                <div class="value product-layout-bordered {% if app.request.get(mode)[i]|default(false) or expanded is same as(false) %} active green {% endif %}">
                                    <label for="day[{{ i|e }}]" >
                                        <input id="day[{{ i|e }}]" type="checkbox" name="day[{{ i|e }}]" class="filter-checkbox" {% if app.request.get(mode)[i]|default(false) or expanded is same as(false) %} checked {% endif %} >
                                        <span class="value-title">{{ i|day }}</span>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            {% include '@App/General/filter-list.html.twig' with {'items':view.params, 'mode':'attrs' } %}
            {% include '@App/General/filter-list.html.twig' with {'items':view.chars, 'mode':'chars' } %}
            <div class="filter-item">
                <button type="submit" id="filter_btn" class="btn btn-warning btn-lg" style="width:100%;">Сформировать</button>
                <a id="filter_reset" class="btn btn-link btn-lg" style="width:100%;">Сбросить</a>
            </div>
        </form>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-12">
        <ul id="myTab" class="nav nav-tabs">
            {% for selectday in view.selecteddays %}
                <li {% if loop.index==1 %}class="active"{% endif %}><a data-toggle="tab" class="day-tab" href="#daypanel{{ selectday|e }}" >{{ selectday|day }}</a></li>
            {% endfor %}
        </ul>
        <div class="tab-content">

            {% for selectday in view.selecteddays %}
                <div id="daypanel{{ selectday|e }}" class="tab-pane fade in {% if loop.index==1 %} active{% endif %}">
                    <div class="daymenu">
                    {% for selecttimeeat in view.selecttimeeats %}
                        <div class="row no-margins">
                            <div class="oneeat">
                                <div class="col-xs-2 timeeat-outer"><div class="timeeat">{{ selecttimeeat.caption|e }}</div></div>
                                {% if view.dishes|default(false) %}
                                    <div class="col-xs-10 dishes">
                                        <div  class="row owl-carousel owl-theme" id="carousel{{ selectday|e }}-{{ selecttimeeat.id|e }}" data-startposition="{{ selectday|e }}">
                                            {% set i=1 %}
                                            {% for dish in view.dishes[selecttimeeat.id] %}
                                                    <div class="item "  >
                                                        <div class="row row-flex dish ">
                                                            <div class="col-xs-12 col-sm-6">
                                                                <div class="imagedish text-center"><img src="{% include '@App/General/mainimage.html.twig' with {'dish':dish} %}"></div>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-6">
                                                                <div class="titledish"><h3><a target="_blank" href="{{ url('onedish', {'dish':dish.id|e}) }}">{{ dish.caption|e }}</a></h3></div>
                                                                <div class="desciptiondish">
                                                                    {% for parametervalue in dish.parametervalues %}
                                                                        {% if parametervalue.parameter.visiblepage %}
                                                                        <div><b>{{ parametervalue.parameter.caption|e}}:</b> {{ parametervalue.value|e }}</div>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </div>
                                                                <div class="buttons"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% set i=i+1 %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <script>
                                        $('#carousel{{ selectday|e }}-{{ selecttimeeat.id|e }}').owlCarousel({
                                            nav:true,
                                            dots:false,
                                            startPosition:{{ (selectday-1)|e }},
                                            navText:['<span class="glyphicon glyphicon-chevron-left"></span>','<span class="glyphicon glyphicon-chevron-right"></span>'],
                                            responsive:{0:{items:1}}
                                        });
                                    </script>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if view.selecteddays|default(false) %}
        <div class="col-xs-12 text-center" style="margin-top:30px;margin-bottom:30px;">
            <a class="btn btn-warning btn-lg">Сохранить меню</a>
        </div>
        {% endif %}
    </div>
    </div>


<script>

    $("#filter_reset").on('click', function(e){
        $(this).parent().parent().find('div').removeClass('active');
    });



    $('.filter-item .collapse').on('show.bs.collapse', function () {
        $(this).parent().children().first().children().last().text('—');
    });

    $('.filter-item .collapse').on('hidden.bs.collapse', function () {
        $(this).parent().children().first().children().last().text('+');
    });

    $('.filter-checkbox').change(function(){
        var checked = $(this).is(':checked');
        if(checked) {
            $(this).parent().parent().addClass('active');
        }
        else {
            $(this).parent().parent().removeClass('active');
        }
        onChangeFilter($(this));
    });


</script>

{% endblock %}