

{% if items|length >0 %}
    {% set attr_id=0 %}
    {% for attr in items %}
        {% if attr.id!=attr_id %}
            {% set attr_id=attr.id %}
            {% if app.request.get(mode)[attr_id]|default(false) %} {% set expanded=true %}{% else %}{% set expanded=false %}{% endif %}
            {% if loop.index>1 %}</div></div></div>{% endif %}
            <div class="filter-item">
            <div class="caption" data-toggle="collapse" data-target="#{{ mode }}_{{ attr_id|e }}" {% if expanded %} aria-expanded="true" {% endif %}>
                <span class="text-left">{{ attr.name|e }}</span>
                <span class="symbol">{% if expanded %}—{% else %}+{% endif %}</span>
            </div>
            <div id="{{ mode }}_{{ attr_id|e }}" class="collapse {% if expanded %}in{% endif %}" {% if expanded %} aria-expanded="true" {% endif %}>
            <div class="values">
        {% endif %}
        {% set value_name=mode~'['~attr_id~']['~attr.vvid~']' %}
        <div class="value product-layout-bordered {% if app.request.get(mode)[attr_id][attr.vvid]|default(false) %} active {% endif %} {% if mode=='chars' %} green {% endif %}">
            <label for="{{ mode }}{{ attr.vvid|e }}" >
                <input id="{{ mode }}{{ attr.vvid|e }}" type="checkbox" name="{{ value_name }}" class="filter-checkbox" {% if app.request.get(mode)[attr_id][attr.vvid]|default(false) %} checked {% endif %} >
                <span class="value-title">{{ attr.vvalue|e }}</span>
            </label>
        </div>


    {% endfor %}
    </div></div></div>
{% endif %}