{% if (view.product.pages|length)>1 %}
<ul class="pagination pagination-sm">
    {% set _first = view.page.pagenumber == 1 %}
    {% set _last = view.page.pagenumber == view.product.pages|length %}
    {% set m=3 %}
    {% if _first %}
        <li class="disabled"><span>&laquo; Предыдущая</span></li>
    {% else %}
        {% set _query = app.request.query.all|merge({'pagenum': view.page.pagenumber - 1,'product_id': view.product.id}) %}
        <li><a href="{{ url('previewpagefile', _query) }}">&laquo; Предыдущая</a></li>
    {% endif %}
    {% for _page in 1..view.product.pages|length %}
        {% if view.page.pagenumber == _page %}
            <li class="active"><span>{{ _page|e }}</span></li>
        {% elseif (_page > view.page.pagenumber-m  and  _page < view.page.pagenumber+m) or ( _page > (view.product.pages|length)-m )  or  ( _page < _first+m ) %}
            {% set _query = app.request.query.all|merge({'pagenum': _page|e,'product_id': view.product.id|e}) %}
            <li><a title="Открыть {{ _page|e }} страницу" href="{{ url('previewpagefile', _query) }}">{{ _page|e }}</a></li>
        {% elseif (_page == view.page.pagenumber-m)  or ( _page == view.page.pagenumber+m) %}
            <li><span>...</span></li>
        {% endif %}
    {% endfor %}
    {% if _last %}
        <li class="disabled"><span>Следующая &raquo;</span></li>
    {% else %}
        {% set _query = app.request.query.all|merge({'pagenum': view.page.pagenumber + 1,'product_id': view.product.id}) %}
        <li><a href="{{ url('previewpagefile',_query) }}">Следующая &raquo;</a></li>
    {% endif %}
</ul>
{% endif %}