{% extends 'AppBundle::sitelayout.html.twig' %}
{% set page=view.page %}
{% set product=view.product %}
{% block head_title %}Файл: {{ product.viewcaption|e }} - Страница №{{ page.pagenumber|e }} - {% endblock %}
{% block head_style %}
    .fixed-box {height: 60px;}
    .fixed-div {height: 60px;}
    .fixed {position: fixed;z-index: 9999;top: 0;background-color:#eee;padding-top:10px;}

    .headers-fixed {position: fixed;z-index: 9999;top: 60px;}
    .fixed-headers-panel {margin:0 auto; max-width:100%; max-height:75%; overflow:auto;}
    .headers-collapsed {padding:10px; }

    .one-header {margin-bottom:5px;line-height:1.3}
    .big-font {font-size:18px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
    .poster {display:none;}

    {{ product.style|raw }}

{% endblock %}

{% block head_additions %}
    <meta name="description" content="Просмотр файла {{ product.mask|e }} размером {{ (product.filesize/1024/1024)|number_format(2, ',', ' ') }}Мб в режиме ОН-ЛАЙН с возможностью скачать">
{% endblock %}

{% block body_content %}
        <div class="row">
           <div class="panel panel-success">
               <div class="panel-body">
                   <div class="row fixed-box">
                       <div class="fixed-div">
                           <div class="col-lg-9 col-md-8 col-sm-7 col-xs-7">
                               <p class="big-font"><strong><span class="hidden-xs">Файл:</span> {{ product.viewcaption|e }}</strong></p>
                           </div>
                           <div class="col-lg-3 col-md-4 col-sm-5 col-xs-5">
                               <a href="{{ url('products_getfile', {'product':product.id}) }}" class="btn btn-success">Скачать ({{ (product.filesize/1024/1024)|number_format(2, ',', ' ') }}Мб)</a>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-lg-9 col-md-8 col-sm-7 col-xs-7">
                           <p><strong>ВУЗ:</strong> {% if product.univercity is not empty %}<a href="{{ url('homepage',{'form_filter[univercity]':product.univercity.id|e}) }}" target="_blank">{{ product.univercity.caption|e }}</a>{% else %}Не указан{% endif %}</p>
                           <p><strong>Категория:</strong> {% if product.category is not empty %}<a href="{{ url('homepage',{'form_filter[category]':product.category.id|e}) }}" target="_blank">{{ product.category.caption|e }}</a>{% else %}Не указан{% endif %}</p>
                           <p><strong>Дисциплина:</strong> {% if product.discipline is not empty %}<a href="{{ url('homepage',{'form_filter[discipline]':product.discipline.id|e}) }}" target="_blank">{{ product.discipline.caption|e }}</a>{% else %}Не указана{% endif %}</p>
                       </div>
                       <div class="col-lg-3 col-md-4 col-sm-5 col-xs-5">
                           <p><strong>Добавлена:</strong> {{ product.createdAt|date('d.m.Y') }}</p>
                           <p><strong>Просмотров:</strong> {{ product.viewed|e }}</p>
                           <p><strong>Скачиваний:</strong> {{ product.downloaded|e }}</p>
                       </div>
                   </div>
                   <div class="row text-danger text-center">
                       <span>ВНИМАНИЕ! Если данный файл нарушает Ваши авторские права, то обязательно <a href="{{ url('requestconsultation') }}">сообщите нам</a>.</span>
                   </div>
               </div>
           </div>
        </div>
        {% if is_granted(constant('AppBundle\\Entity\\Role::ADMIN')) %}
            <div class="row">
                <div class="panel panel-success">
                    <div class="panel-body">
                        {% if product.parselink %}<p>Файл был скачен по ссылке: <a target="_blank" href="{{ product.parselink|e }}">{{ product.parselink|e }}</a></p>{% endif %}
                        <a></a>
                        {% set form = forms.product %}
                        {{ form_start(form, {'attr': {'class': 'form'}}) }}
                        {% set errors = form.caption.vars.errors %}
                        {% set class = 'form-group col-sm-6 col-xs-12 ' ~ (errors|length > 0 ? ' has-error' : '') %}
                        <div class="{{ class }}">
                            {{ form_label(form.caption, null, {'label_attr': {'class': 'tinymce'}}) }}
                            {% if form.caption.vars.required %}<span class="text-danger">*</span>{% endif %}
                            {{ form_widget(form.caption, {'attr': {'class': 'form-control', 'autofocus': true}}) }}
                            {% if errors|length > 0 %}
                                {% for error in errors %}<span class="help-block text-danger">{{ error.message }}</span>{% endfor %}
                            {% endif %}
                        </div>
                        {% set errors = form.discipline.vars.errors %}
                        {% set class = 'form-group col-sm-6 col-xs-12' ~ (errors|length > 0 ? ' has-error' : '') %}
                        <div class="{{ class }}">
                            {{ form_label(form.discipline, null, {'label_attr': {'class': 'tinymce'}}) }}
                            {% if form.discipline.vars.required %}<span class="text-danger">*</span>{% endif %}
                            {{ form_widget(form.discipline, {'attr': {'class': 'form-control', 'autofocus': true}}) }}
                            {% if errors|length > 0 %}
                                {% for error in errors %}<span class="help-block text-danger">{{ error.message }}</span>{% endfor %}
                            {% endif %}
                        </div>
                        {% set errors = form.category.vars.errors %}
                        {% set class = 'form-group col-sm-6 col-xs-12 ' ~ (errors|length > 0 ? ' has-error' : '') %}
                        <div class="{{ class }}">
                            {{ form_label(form.category, null, {'label_attr': {'class': 'tinymce'}}) }}
                            {% if form.category.vars.required %}<span class="text-danger">*</span>{% endif %}
                            {{ form_widget(form.category, {'attr': {'class': 'form-control', 'autofocus': true}}) }}
                            {% if errors|length > 0 %}
                                {% for error in errors %}<span class="help-block text-danger">{{ error.message }}</span>{% endfor %}
                            {% endif %}
                        </div>
                        {% set errors = form.univercity.vars.errors %}
                        {% set class = 'form-group col-sm-6 col-xs-12' ~ (errors|length > 0 ? ' has-error' : '') %}
                        <div class="{{ class }}">
                            {{ form_label(form.univercity, null, {'label_attr': {'class': 'tinymce'}}) }}
                            {% if form.univercity.vars.required %}<span class="text-danger">*</span>{% endif %}
                            {{ form_widget(form.univercity, {'attr': {'class': 'form-control', 'autofocus': true}}) }}
                            {% if errors|length > 0 %}
                                {% for error in errors %}<span class="help-block text-danger">{{ error.message }}</span>{% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-xs-12 text-center">
                            <button type="submit" class="btn btn-success">
                                <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Сохранить изменения
                            </button>
                            <a data-toggle="modal" data-target="#confirmdelete" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Удалить файл
                            </a>
                            {% if (product.headers|length) >0 %}
                                <a data-toggle="modal" data-target="#confirmclear" class="btn btn-warning">
                                    <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> Очистить заголовки
                                </a>
                            {% endif %}
                        </div>
                        <div class="modal fade" id="confirmdelete">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title">Внимание! Точно хотите удалить файл?</h4>
                                    </div>
                                    <div class="modal-body text-center">
                                        <a href="{{ url('admin_products_remove', {'product':product.id|e, 'mode':'view'}) }}" class="btn btn-danger">
                                            Да
                                        </a>
                                        <a data-dismiss="modal" class="btn btn-default">
                                            Нет
                                        </a>
                                    </div>
                                </div><!-- /.модальное окно-Содержание -->
                            </div><!-- /.модальное окно-диалог -->
                        </div><!-- /.модальное окно -->
                        <div class="modal fade" id="confirmclear">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title">Внимание! Точно хотите удалить заголовки файла?</h4>
                                    </div>
                                    <div class="modal-body text-center">
                                        <a href="{{ url('admin_products_clearheading', {'product':product.id|e, 'mode':'view'}) }}" class="btn btn-danger">
                                            Да
                                        </a>
                                        <a data-dismiss="modal" class="btn btn-default">
                                            Нет
                                        </a>
                                    </div>
                                </div><!-- /.модальное окно-Содержание -->
                            </div><!-- /.модальное окно-диалог -->
                        </div><!-- /.модальное окно -->
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row text-center poster">
            <div style="width:600px;height:60px;max-width:100%;background-color: #9BAAB5; margin:auto;">ЗДЕСЬ БУДЕТ ПРИМЕРНО ТАКОЙ БАНЕР</div>
        </div>
        <div class="row text-center">
            {% include 'AppBundle:General:pagination.html.twig' %}
        </div>
        <div class="row {% if product.extension|e == 'pdf' %}table-responsive{% endif %}">
            <div class="panel panel-success" {% if product.extension|e == 'pdf' %}style="width:892px;margin:auto;"{% endif %}>
                <div class="panel-body">
                {% if (product.headers|length)>2 %}
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                    <div class="fixed-headers-panel">
                        <div class="hidden-lg hidden-md hidden-print text-center">
                            <a class="btn btn-warning collapsed" data-toggle="collapse" data-target=".headers-collapsed">
                                <span><span class="glyphicon glyphicon-arrow-down"></span> Открыть содержание <span class="glyphicon glyphicon-arrow-down"></span></span>
                            </a>
                        </div>
                        <div class="headers-collapsed panel panel-success">
                            <p class="text-center"><strong>СОДЕРЖАНИЕ</strong></p>
                            {% for header in product.headers %}
                                <p class="one-header" style="padding-left:{{ ((header.level-1)*20) }}px"><a href="{{ url('previewpagefile',{'product_id':product.id, 'pagenum':header.pagenumber|e}) }}#header{{ header.id|e }}">{{ header.content|e }}</a></p>
                            {% endfor %}
                        </div>
                    </div>

                </div>

                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    {{ page.content|raw }}
                </div>
                {% else %}
                    {{ page.content|raw }}
                {% endif %}

                </div>
            </div>
        </div>
        <div class="row text-center">
            {% include 'AppBundle:General:pagination.html.twig' %}
        </div>
        <div class="row poster">
            <div class="col-xs-4"><div style="background-color: #9BAAB5; width:100%;height:220px;">1 рекламный банер</div></div>
            <div class="col-xs-4"><div style="background-color: #9BAAB5; width:100%;height:220px;">2 рекламный банер</div></div>
            <div class="col-xs-4"><div style="background-color: #9BAAB5; width:100%;height:220px;">3 рекламный банер</div></div>
        </div>
{% endblock %}

{% block body_additions %}
    <script type="text/javascript">
        $(document).ready(function($) {
            $nav = $('.fixed-div');
            $box = $('.fixed-box');
            $headers = $('.headers-collapsed');
            $fixheaders = $('.fixed-headers-panel');
            $nav.css('width', $nav.outerWidth());
            $nav.css('max-width', '100%');
            $window = $(window);
            $h = $nav.offset().top;
            $h2=0;
            if ($fixheaders.offset() ) {
                $h2 = $fixheaders.offset().top;
            }

            $window.scroll(function() {
                if ($window.scrollTop() > $h) {
                    $nav.addClass('fixed');
                } else {
                    $nav.removeClass('fixed');
                }
                if ($window.scrollTop() > $h2 && $h2!=0) {
                    $fixheaders.addClass('headers-fixed');
                } else {
                    $fixheaders.removeClass('headers-fixed');
                }
            });
            $window.resize(function() {
                    $nav.css('width', $box.outerWidth());
                    if ($fixheaders.offset()) {
                        $fixheaders.css('width', $headers.outerWidth());
                    }
                    if($headers) {
                        if($nav.outerWidth()<968) {
                            $headers.addClass('collapse');
                        }
                        else {
                            $headers.removeClass('collapse');
                            $headers.css('height', 'auto')
                        }
                    }


            });
            $window.resize();
        });
    </script>

{% endblock %}