{% extends 'AppBundle::sitelayout.html.twig' %}

{% block head_title %}Поиск по сайту{% endblock %}


{% block body_content %}

<article class="art-post art-article">
            <div class="art-postmetadataheader">
                <h2 class="art-postheader">Результаты поиска по фразе "{{ view.searchtext|e }}"</h2>
            </div>

            <div class="art-postcontent art-postcontent-0 clearfix">

                {% if view.searchsections|length > 0 %}
                    <h3>Найдено в разделах:</h3>
                    <ul>
                        {% set i=1 %}
                        {% for section in view.searchsections %}
                            <li>
                                <a href="{{ url('onesection',{'section': section.alias}) }}">{{ i|e }}. {{ section.caption|e }}</a>
                            </li>
                            {% set i=i+1 %}
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if view.news|length > 0 %}
                    <h3>Найдено в новостях:</h3>
                        <ul>
                            {% set i=1 %}
                            {% for news in view.news %}
                                <li>
                                    <a href="{{ url('onenews',{'news': news.alias}) }}">{{ i|e }}. {{ news.caption|e }}</a>
                                </li>
                                {% set i=i+1 %}
                            {% endfor %}
                        </ul>
                {% endif %}

            </div>


        </article>
{% endblock %}