{% extends 'AppBundle::sitelayout.html.twig' %}
{% block head_title %}Список университетов - {% endblock %}
{% block head_style %}{% endblock %}

{% block head_additions %}
    <meta name="description" content="Список университетов, к которым относятся файлы в файловом хранилище студенческих файлов с возможностью он-лайн просмотра и скачивания без регистрации и смс">
{% endblock %}

{% block body_content %}
    <h1 class="page-header">Список ВУЗов</h1>
    {% set symbol='' %}
    {% for univercity in view.univercities  %}
        {% if univercity.caption|slice(0, 1) !=symbol %}
            {% if loop.index >1 %}</div>{% endif %}
            <div class="row">
                <h2>{{ univercity.caption|slice(0, 1)|upper }}</h2>
                <div class="col-xs-4">
                    <a href="{{ url('homepage',{'form_filter[univercity]':univercity.id|e}) }}">{{ univercity.caption|e }} ({{ univercity.shortcaption|e }}) (Всего: {{ univercity.products|length }})</a>
                </div>
            {% set symbol=(univercity.caption|slice(0, 1)) %}
        {% else %}
            <div class="col-xs-4">
                <a href="{{ url('homepage',{'form_filter[univercity]':univercity.id|e}) }}">{{ univercity.caption|e }} ({{ univercity.shortcaption|e }}) (Всего: {{ univercity.products|length }})</a>
            </div>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}

{% block body_additions %}

{% endblock %}