<div id="footer">
    <div class="container">
        <div class="row" >
            <div class="col-sm-4">
                <h5>Информация</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ url('onearticle', {'article':'privacy'}) }}">Политика конфиденциальности</a></li>
                    <li><a href="{{ url('onearticle', {'article':'terms'}) }}">Условия</a></li>
                    <li><a href="{{ url('requestconsultation') }}">Обратная связь</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h5>Списки файлов</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ url('univercities') }}">По ВУЗам</a></li>
                    <li><a href="{{ url('categories') }}">По категориям</a></li>
                    <li><a href="{{ url('disciplines') }}">По дисциплинам</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h5>Дополнительно</h5>
                <ul class="list-unstyled">

                </ul>
            </div>
        </div>
    </div>
</div>