<!-- Yandex.Metrika counter -->


<div class="navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Переключить навигацию</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div id="navbar" class="navbar-collapse collapse " style="height: 1px;">

            <ul class="nav navbar-nav navbar-left {% if app.request.get('_route')!='homepage' %}navbar-my-inverse{% endif %}">
                <li> <a  href="{{ url('homepage') }}" >Главная страница</a></li>
                    <li  ><a href="{{ url('createmenu') }}"> Конструктор меню</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right {% if app.request.get('_route')!='homepage' %}navbar-my-inverse{% endif %}">
                {% if app.user %}
                    <li class="dropdown" style="display:inline-block;">
                        <a href="#" title="Личный кабинет" class="dropdown-toggle" data-toggle="dropdown">
                            Личный кабинет <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Мои меню</a></li>
                            <li><a href="#">Мои блюда</a></li>
                            <li><a href="{{ url('site_security_profile') }}">Мои данные</a></li>
                            <li><a href="{{ url('admin_dishes_index') }}">Админка</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ url('site_security_logout') }}" title="Выход"> Выйти</a></li>
                {% else %}
                    <li><a href="{{ url('site_security_login') }}" title="Вход"> Регистрация</a></li>
                    <li> <a href="{{ url('site_security_login') }}" title="Вход"> Вход</a></li>
                {% endif %}
            </ul>




        </div>
    </div>
</div>