<!-- Yandex.Metrika counter -->


<div class="navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Переключить навигацию</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div id="navbar" class="navbar-collapse collapse" style="height: 1px;">

            <ul class="nav navbar-nav navbar-right navbar-buttons">
                    <a href="{{ url('createmenu') }}" class="btn btn-warning"> Конструктор меню на неделю</a>
                    <a href="#" class="btn btn-warning"> Каталог блюд</a>
                {% if app.user %}
                    <a href="{{ url('site_security_profile') }}" title="Управление профилем" class="btn btn-warning"> {{ app.user.userfio|e }}</a>
                    <a href="{{ url('site_security_logout') }}" title="Выход с сайта" class="btn btn-warning"> Выйти</a>
                {% else %}
                    <a href="{{ url('site_security_login') }}" title="Вход" class="btn btn-warning"> Вход</a>
                {% endif %}
            </ul>

        </div>
    </div>
</div>