<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <title>{% block head_title %}{% endblock %} #Чёпохавать </title>
    {% block head_meta %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/jumbotron.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css') }}">
    {% block head_link %}

    {% endblock %}

    {% block head_script %}
        <script type="text/javascript" src="{{ asset('js/jquery-2.1.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap-slider.js') }}"></script>

        <script type="text/javascript" src="{{ asset('js/owl.carousel.min.js') }}"></script>

    {% endblock %}

   <style>
        {% block head_style %}{% endblock %}
   </style>
    {% block head_additions %}{% endblock %}
</head>

<body>
{% include 'AppBundle::sitepanel.html.twig' %}
<div class="container">
    <div id="content">
        {% block body_content %}{% endblock %}
    </div>
</div>

{#{% include 'AppBundle::footer.html.twig' %}#}

{% block body_additions %}{% endblock %}

<!-- /Yandex.Metrika counter -->

</body>

</html>