{% extends 'AppBundle::layout.html.twig' %}
{% set ingridient=view.ingridient %}
{% set step=1 %}

{% block head_title %}{% if ingridient is not empty %}{{ ingridient.caption|e }} - Основные данные{% else %}Новый ингрииент{% endif %}{% endblock %}


{% block head_additions %}
    <style>
        .roles { border: 1px solid #eee; border-radius: 4px; padding: 0 5px; }
        .page {max-width: 700px;}

    </style>
    <script type="text/javascript" src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
{% endblock %}

{% block body_content %}

        {% include 'AppBundle:Ingridients:header.html.twig' %}
        {% include 'AppBundle:Ingridients:navigation.html.twig' %}
    <div class="page">
        {% set form = forms.ingridient %}
        {{ form_start(form, {'attr': {'class': 'form'}}) }}
        {% set errors = form.caption.vars.errors %}
        {% set class = 'form-group' ~ (errors|length > 0 ? ' has-error' : '') %}
        <div class="{{ class }}">
            {{ form_label(form.caption, null, {'label_attr': {'class': 'control-label'}}) }}
            {% if form.caption.vars.required %}<span class="text-danger">*</span>{% endif %}
            {{ form_widget(form.caption, {'attr': {'class': 'form-control', 'autofocus': true}}) }}
            {% if errors|length > 0 %}
                {% for error in errors %}<span class="help-block text-danger">{{ error.message }}</span>{% endfor %}
            {% endif %}
        </div>
        {% set errors = form.cal.vars.errors %}
        {% set class = 'form-group' ~ (errors|length > 0 ? ' has-error' : '') %}
        <div class="{{ class }}">
            {{ form_label(form.cal, null, {'label_attr': {'class': 'tinymce'}}) }}
            {% if form.cal.vars.required %}<span class="text-danger">*</span>{% endif %}
            {{ form_widget(form.cal, {'attr': {'class': 'form-control', 'autofocus': true}}) }}
            {% if errors|length > 0 %}
                {% for error in errors %}<span class="help-block text-danger">{{ error.message }}</span>{% endfor %}
            {% endif %}
        </div>
        {% set errors = form.protein.vars.errors %}
        {% set class = 'form-group' ~ (errors|length > 0 ? ' has-error' : '') %}
        <div class="{{ class }}">
            {{ form_label(form.protein, null, {'label_attr': {'class': 'control-label'}}) }}
            {% if form.protein.vars.required %}<span class="text-danger">*</span>{% endif %}
            {{ form_widget(form.protein, {'attr': {'class': 'form-control', 'autofocus': true}}) }}
            {% if errors|length > 0 %}
                {% for error in errors %}<span class="help-block text-danger">{{ error.message }}</span>{% endfor %}
            {% endif %}
        </div>
        {% set errors = form.fat.vars.errors %}
        {% set class = 'form-group' ~ (errors|length > 0 ? ' has-error' : '') %}
        <div class="{{ class }}">
            {{ form_label(form.fat, null, {'label_attr': {'class': 'control-label'}}) }}
            {% if form.fat.vars.required %}<span class="text-danger">*</span>{% endif %}
            {{ form_widget(form.fat, {'attr': {'class': 'form-control', 'autofocus': true}}) }}
            {% if errors|length > 0 %}
                {% for error in errors %}<span class="help-block text-danger">{{ error.message }}</span>{% endfor %}
            {% endif %}
        </div>
        {% set errors = form.carbo.vars.errors %}
        {% set class = 'form-group' ~ (errors|length > 0 ? ' has-error' : '') %}
        <div class="{{ class }}">
            {{ form_label(form.carbo, null, {'label_attr': {'class': 'control-label'}}) }}
            {% if form.carbo.vars.required %}<span class="text-danger">*</span>{% endif %}
            {{ form_widget(form.carbo, {'attr': {'class': 'form-control', 'autofocus': true}}) }}
            {% if errors|length > 0 %}
                {% for error in errors %}<span class="help-block text-danger">{{ error.message }}</span>{% endfor %}
            {% endif %}
        </div>
        {% set errors = form.price.vars.errors %}
        {% set class = 'form-group' ~ (errors|length > 0 ? ' has-error' : '') %}
        <div class="{{ class }}">
            {{ form_label(form.price, null, {'label_attr': {'class': 'control-label'}}) }}
            {% if form.price.vars.required %}<span class="text-danger">*</span>{% endif %}
            {{ form_widget(form.price, {'attr': {'class': 'form-control', 'autofocus': true}}) }}
            {% if errors|length > 0 %}
                {% for error in errors %}<span class="help-block text-danger">{{ error.message }}</span>{% endfor %}
            {% endif %}
        </div>
            <hr>
            <em>Знаком <span class="text-danger">*</span> отмечены поля, обязательные для заполнения</em>
            <hr>
            <a href="{{ url('admin_ingridients_index') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Назад
            </a>
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Сохранить изменения
            </button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block body_additions %}

{% endblock %}
