{% extends 'AppBundle::layout.html.twig' %}

{% block head_title %}Новый пользователь{% endblock %}

{% block head_additions %}
    <style>
        .roles { border: 1px solid #eee; border-radius: 4px; padding: 0 5px; }
        .page {max-width: 700px;}
    </style>
{% endblock %}


{% block body_content %}
    <div class="page">
        <div class="page-header"><h1>Новый пользователь</h1></div>
        {% set form = forms.user %}
        {{ form_start(form, {'attr': {'class': 'form'}}) }}
            {% set errors = form.userfio.vars.errors %}
            {% set class = 'form-group' ~ (errors|length > 0 ? ' has-error' : '') %}
            <div class="{{ class }}">
                {{ form_label(form.userfio, null, {'label_attr': {'class': 'control-label'}}) }}
                {% if form.userfio.vars.required %}<span class="text-danger">*</span>{% endif %}
                {{ form_widget(form.userfio, {'attr': {'class': 'form-control', 'autofocus': true}}) }}
                {% if errors|length > 0 %}
                    {% for error in errors %}<span class="help-block text-danger">{{ error.message }}</span>{% endfor %}
                {% endif %}
            </div>
            {% set errors = form.username.vars.errors %}
            {% set class = 'form-group' ~ (errors|length > 0 ? ' has-error' : '') %}
            <div class="{{ class }}">
                {{ form_label(form.username, null, {'label_attr': {'class': 'control-label'}}) }}
                {% if form.username.vars.required %}<span class="text-danger">*</span>{% endif %}
                {{ form_widget(form.username, {'attr': {'class': 'form-control', 'autofocus': true}}) }}
                {% if errors|length > 0 %}
                    {% for error in errors %}<span class="help-block text-danger">{{ error.message }}</span>{% endfor %}
                {% endif %}
            </div>
            {% set errors = form.password.vars.errors %}
            {% set class = 'form-group' ~ (errors|length > 0 ? ' has-error' : '') %}
            <div class="{{ class }}">
                {{ form_label(form.password.first, null, {'label_attr': {'class': 'control-label'}}) }}
                {% if form.password.vars.required %}<span class="text-danger">*</span>{% endif %}
                {{ form_widget(form.password.first, {'attr': {'class': 'form-control'}}) }}
                {% if errors|length > 0 %}
                    {% for error in errors %}<span class="help-block text-danger">{{ error.message }}</span>{% endfor %}
                {% endif %}
            </div>
            {% set class = 'form-group' ~ (errors|length > 0 ? ' has-error' : '') %}
            <div class="{{ class }}">
                {{ form_label(form.password.second, null, {'label_attr': {'class': 'control-label'}}) }}
                {% if form.password.vars.required %}<span class="text-danger">*</span>{% endif %}
                {{ form_widget(form.password.second, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.email, null, {'label_attr': {'class': 'control-label'}}) }}
                {% if form.email.vars.required %}<span class="text-danger">*</span>{% endif %}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                {% if errors|length > 0 %}
                    {% for error in errors %}<span class="help-block text-danger">{{ error.message }}</span>{% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form_label(form.phone, null, {'label_attr': {'class': 'control-label'}}) }}
                {% if form.phone.vars.required %}<span class="text-danger">*</span>{% endif %}
                {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                {% if errors|length > 0 %}
                    {% for error in errors %}<span class="help-block text-danger">{{ error.message }}</span>{% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form_label(form.roles) }}
                <div class="roles">
                    {% for field in form.roles.children %}
                        <div class="checkbox">
                            <label>
                                {{ form_widget(field) }} {{ field.vars.label }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <hr>
            <em>Знаком <span class="text-danger">*</span> отмечены поля, обязательные для заполнения</em>
            <hr>
            <a href="{{ url('site_users_index') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Назад
            </a>
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Сохранить изменения
            </button>
        {{ form_end(form) }}
    </div>
{% endblock %}